.card {
    height: 25vh;
    border: solid .1rem black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 30vw;
    margin: 1rem;
    padding: .25vh;
}
.favorites-btn-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.favorites-btn{
    margin-left: 4rem;
    background-color: lightgray;
    border: none;
    margin: .5rem;
    padding: 0;
    width: 1rem;
}
.favorites-img {
    height: 1rem;
    width: 1rem;
}
.card-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-title {
    /* font-style: italic; */
    font-size: 1.2rem;
}
.card-time {
    color: blue;
    margin-top: 2rem;
    margin: .2rem;
}
/* .timeBox {
    display: flex;
    flex-direction: row;
} */
.card-date {
    color: lightgray;
}